# Backend - Node.js
Backend/node_modules/
Backend/.env
Backend/npm-debug.log*
Backend/logs/ # Se você criar uma pasta para logs de runtime
Backend/build/ # Se você usar um processo de build (ex: TypeScript para JS)
Backend/dist/  # Alternativa comum para pasta de build
# Frontend
node_modules/   
*.log

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.sublime-project
*.sublime-workspace

*.tmp
*.temp
*~
*.swp # Arquivos de swap do Vim

coverage/
lcov.info